*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
	min-height: 100%;
	min-width: 100%;
	-webkit-font-smoothing: antialiased;
}

.container{
	display: flex;
	flex-direction: column;
	min-width: 100%;
	min-height: 100%;
}

.header{
	flex: 1;

	background-size: cover;
	background-position: center;
	text-align: center;

	overflow: visible;
	position: relative;
}
.dummy{
	width: 100%;
	height: 20px;
}
.naslovnaSlika{
	width: 50%;
	height: auto;
	border-radius: 10px;
}

.title{
	padding-top: 30px;
	font-size: 8vh;
	font-weight: bold;
	position: relative;
	

	color: #FE8093;
}

.buttons{
	min-height: 100%;
	flex: 1;
	display: flex;
	justify-self: center;
	text-align: center;
	bottom: 30%;	
}

.buttonDiv{
	flex: 1;
	text-align: center;
	align-items: center;
}

.buttons button{
	/* width: 200px;
	height: 80px;
	padding: 10px; */
	vertical-align: center;
	display: inline-block;

	transition: all 0.3s ease-in-out;

	border: 2px solid black;
    margin: 0;
    overflow: visible;

	outline: none;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

.buttons button:hover{
	background: #FE8093;
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
}


.footer{
	bottom: 0;
	min-width: 100%;
	position: fixed;
	min-height: 5em;
	background: #FE8093;
}

input[type="text"],
input[type="number"]{
	background: none;
	border: none;
	border-bottom: solid 2px #FE8093;
	color: #FE8093;
	padding: 15px 40px;
	font-size: 18px;
	display: block;
	margin-top: 40px;
}

.zdr input{
	width: 1000px;
	margin-bottom: 50px;
}

input:focus, :active{
	outline: none;
}

.inputGroup{
	display: block;
	margin-left: 20px;
	position: relative;

}

.inputGroup input{
	padding: 10px 0px;
}

.inputGroup label{
	position: absolute;
  	top: 20%;
  	left: 0px;
  	-webkit-transform: translateY(-20%);
  	transform: translateY(-20%);
  	font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  	font-style: italic;
  	font-size: 18px;
  	color: #999;
  	pointer-events: none;
  	transition: all 0.15s ease-out 0s;
}

.inputGroup input:focus + label,
.inputGroup input.has-value + label {
  top: -3px;
  font-size: 12px;
  color: #aaa;
}


